.activity{
    height: calc(100vh - 129px);
    padding: 1rem 3rem;
}

.card{
    gap: 10px;
    color: #F55353;
}

span{
    color: #ffff;
    font-weight: 600;
    font-size: 17px;
}

a{
    color: #ffff;
    font-weight: 600;
    font-size: 17px;
}

@media only screen and (max-width: 590px){
    .activity{
        padding: 1rem 1.2rem;
    }
}
