nav{
    background-color: #393E46;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #52FFA8;
}

.logo{
    color: #52FFA8;
}

section{
    height: calc(100vh - 67px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    margin: 1rem 3rem;
}

.card{
    background-color: #393E46;
    padding: 2.5rem 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}

.top{
    font-size: 24px;
    font-weight: 700;
    color: #52FFA8;
    margin-bottom: 15px;
}

.bottom{
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 25px;
}

.controls{
    display: flex;
    justify-content: center;
    gap:50px;
}

.btn{
    background-color: #52FFA8;
    width: 110px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 500;
}

.btn:hover{
    cursor: pointer;
}

.menu-parent{
    position: relative;
}

ul{
    display: none;
    position: absolute;
    background-color: #52FFA8;
    list-style: none;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
    transition:	opacity .3s ease-in-out,visibility .3s ease-in-out,max-height .2s ease-in-out,margin-bottom .3s ease-in-out;
}

.active{
    display: block;
    /* transition: max-height 1s; */
}

li{
    color:black;
    font-weight: 500;
    font-size: 13.6px;
}

li:hover{
    cursor: pointer;
    font-size: 15px;
}

@media only screen and (max-width: 590px){
   
    nav{
        padding:1rem 1.2rem;
    }
    
   section{
        padding: 1rem 1.2rem;
   }

   .back{
       margin: 1rem 1.2rem;
   }

    .card{
        padding: 1rem 5rem;
    }
}

@media only screen and (max-width: 500px){
    
    .controls{
        flex-direction: column;
        gap: 20px;
    }

    .btn{
        width: 100%;
    }

    .back{
        width: 110px;
    }

    select{
        width: 100%;
    }
    
    .card{
        padding:3rem;
    }
    
    ul{
        width: 42%;
    }
}
