nav{
    background-color: #143F6B;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F55353;
}

.logo{
    color: #F55353;
}

section{
    height:calc(100vh - 67px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
}

.back{
    margin: 1rem 3rem;
}

.card{
    background-color: #143F6B;
    padding: 2.5rem 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}

.top{
    font-size: 24px;
    font-weight: 700;
    color: #F55353;
    margin-bottom: 15px;
}

.bottom{
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 25px;
}

.controls{
    display: flex;
    justify-content: center;
    gap:50px;
}

.btn{
    background-color: #F55353;
    width: 110px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 500;
}

.btn:hover{
    cursor: pointer;
}

.drop-down{
    position: relative;
}

ul{
    visibility: hidden;
    position: absolute;
    background-color: #F55353;
    list-style: none;
    margin-top: 10px;
    border-radius: 6px;
    padding: 5px;
    transform: translateY(-2rem);
    transition:	all 0.4s ease 0s, visibility 0s linear 0.3s;
    width: 100%;
}

.active{
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s,0s,0.3s;
    margin-bottom: 1.5rem;
}

li{
    color:black;
    font-weight: 500;
    font-size: 13.6px;
}

li:hover{
    cursor: pointer;
    font-size: 15px;
}

@media only screen and (max-width: 590px){
   
    nav{
        padding:1rem 1.2rem;
    }
    
   section{
        padding: 1rem 1.2rem;
   }

   .back{
       margin: 1rem 1.2rem;
   }

    .card{
        padding: 1rem 5rem;
    }
}

@media only screen and (max-width: 500px){
    
    .controls{
        flex-direction: column;
        gap: 20px;
    }

    .btn{
        width: 100%;
    }

    .back{
        width: 110px;
    }

    select{
        width: 100%;
    }
    
    .card{
        padding:3rem;
    }
}
